.primary-container {
  display: flex;
  flex-direction: column;
}

.top-bar {
  position: fixed;
	top: 0;
	left: 0;
	right: 0;
  height: 36px;
	padding: 8px;
  padding-right: 0px;
  background: #6e6e6e;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}

.nav-options {
  display: flex;
  flex-direction: row;
  width: 100%;
  white-space: nowrap;
}

.filler {
  flex-grow: 1;
}

.drawer {
	position: fixed;
	left: 0;
	top: 52px;
	bottom: 0;
	width: 200px;
	background: lightgray;
	border: 1px solid gray;
  z-index: 1;
  overflow-y: auto;
  transition: all .3s ease;
  padding: 4px;
}

.drawer-close {
	left:-210px;
}

.button {
  font-weight: 700;
  padding: 8px;
  margin-right: 8px;
  border-radius: 0.5rem;
  cursor: pointer;
}

.edit {
  position: fixed;
  right: 8px;
  bottom: 16px;
  z-index: 1;
  padding: 10px;
  border-radius: 50%;
}

.main-view{
  box-sizing: border-box;
  position: fixed;
  top: 52px;
  height: calc(100vh - 52px);
  width: 100%;
  padding: 8px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.card {
  padding: 8px;
  position: relative;
  border:1px solid darkgray;
  border-radius: 0.5rem;
  margin-bottom: 8px;
}

.card-save {
  position: absolute;
  right: 0px;
  bottom: 8px;
  width: 88px;
}

.card-delete {
  position: absolute;
  top: 8px;
  right: 8px;
}

.character {
  padding: 8px;
  margin-bottom: 8px;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.login-box {
  padding: 12px;
  border:1px solid darkgray;
  border-radius: 0.5rem;
  margin: auto;
  width: 20%;
  margin-top: 5%;
  text-align: center;
  min-width: 256px;
}

.login {
  padding: 8px;
  margin-bottom: 8px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 0.5rem;
}

.error {
  color: red;
  text-align: center;
}

.centered {
  text-align: center;
  margin-top: 0;
}

.disclaimer {
  padding: 12px;
  border:1px solid darkgray;
  border-radius: 0.5rem;
  margin: auto;
  width: 20%;
  margin-top: 8px;
  text-align: center;
  font-size: smaller;
  font-family: monospace;
  min-width: 256px;
}

.invalid {
  background-color: #ffdddd;
  border-color: #c00000;
}

.loading {
  margin: auto;
  width: fit-content;
  margin-top: 10%;
  text-align: center;
}

.loader {
  border: 16px solid #f3f3f3; 
  border-top: 16px solid #6e6e6e; 
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.5);
}

.modal-container {
	position: fixed;
	display: flex;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	align-items: center;
	justify-content: center;
}

.modal {
  max-height: 80%;
  min-width: 256px;
	width: 80%;
	background-color: white;
	display: flex;
	flex-direction: column;
	padding: 16px;
  z-index: 2;
  overflow-y: auto;
  border-radius: 0.5rem;
}

.modal-header {
  background: #6e6e6e;
  margin:-16px;
  padding: 8px;
  margin-bottom: 8px;
}

.modal button {
  margin-right: 0;
  margin-top: 8px;
}

.modal textarea {
  resize: none;
}

.modal-save {
  margin-left: auto;
  float: right;
}

.about-title {
  text-decoration: underline;
}

.about-content {
  white-space: pre-wrap;
  overflow-wrap: break-word; 
  hyphens: auto;
}

hr.solid {
  border-top: 1px solid rgb(98, 98, 98);
  margin: 8px -4px;
}

details {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: .5em;
}
